<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Önerilen Şarkılar</title>
</head>
<body>
    <h1>Önerilen Şarkılar</h1>
    <ul>
        {% for track in tracks %}
            <li>
                <strong>Şarkı Adı:</strong> {{ track.name }} <br>
                <strong>Sanatçı:</strong> {{ track.artist }} <br>
                <strong>Albüm:</strong> {{ track.album }} <br>
                <a href="{{ track.url }}">Dinle</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
